.table_page_wrapp {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #6bcba6,
    #5dc6a5,
    #4fc1a5,
    #3ebca4,
    #28b7a4
  );
}

.table_wrapp {
  padding-top: 10px;
  width: 95%;
  height: 82%;
}
